@import 'def_color.scss';

.contact {
  min-height: 50vh;
  background-color: $fire-opal;
  font-size: calc((2vw + 5rem) / 5);
  padding-bottom: 3rem;
}

.contact_header {
  padding: 3rem 3rem 0rem 2rem;
  font-size: 3rem;
  margin: 0;
}

.contact_link {
  color: $onyx;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  &:before {
    transition: all 0.3s ease-in-out;
    content: '';
    background-color: $onyx;
    position: absolute;
    bottom: -1px;
    width: 0px;
    height: 2px;
    opacity: 0;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      left: 0;
    }
  }
}

.contact_card {
  margin: 2rem 1rem;
  border: 2px solid $onyx;
  border-radius: 15px;
  background-color: $cultured;
  padding: 1.5rem 2rem;
}
