$amethyst: #9b5de5ff;
$french-violet: #7222d3;
$fire-opal: #e5625eff;
$yellow-crayola: #feee85ff;
$capri: #00bbf9ff;
$sea-green-crayola: #00f5d4ff;
$onyx: #404040;
$lavender-floral: #a882dd;
$cultured: #f5f5f5;
