$amethyst: #9b5de5ff;
$french-violet: #7222d3;
$fire-opal: #e5625eff;
$yellow-crayola: #feee85ff;
$capri: #00bbf9ff;
$tuscan-red: #783e3e;
$sea-green-crayola: #00f5d4ff;
$onyx: #404040;
$ming: #1d6067;
$jet: #292929;
$lavender-floral: #a882dd;
$cultured: #f5f5f5;

html[data-theme='light'] {
  --color-hero-background: #{$sea-green-crayola};
  --color-hero-text: #{$onyx};
  --color-glitch1: #{$fire-opal};
  --color-glitch2: #{$capri};
  --color-logo: #{$amethyst};
  --color-portfolio-background: #{$yellow-crayola};
  --color-card-background: #{$cultured};
  --color-card-border: #{$onyx};
  --color-card-button: #{$french-violet};
  --color-contact-background: #{$fire-opal};
}

html[data-theme='dark'] {
  --color-hero-background: #{$tuscan-red};
  --color-hero-text: #{$cultured};
  --color-glitch1: #{$fire-opal};
  --color-glitch2: #{$capri};
  --color-logo: #{$sea-green-crayola};
  --color-portfolio-background: #{$jet};
  --color-card-background: #{$onyx};
  --color-card-border: #{$cultured};
  --color-card-button: #{$amethyst};
  --color-contact-background: #{$ming};
}
