@import 'def_color.scss';

.hero_inner {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.hero_content {
  flex-grow: 2;
  padding-left: 5px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (8 - 1) * ((100vw - 5em) / (50 - 5)));
  padding-right: calc(1rem + (8 - 1) * ((100vw - 5rem) / (50 - 5)));
}

.wrapper-lg {
  max-width: 95rem;
}

.greeting {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4em;
  transform: rotate(-5deg);
  transform-origin: bottom left;
}

.hero_heading {
  font-family: 'Be Vietnam Pro ', sans-serif;
  font-weight: 900;
  font-size: 3em;
  margin-top: 0.1em;
}

// animating the logo
.hero_logo {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw 0.5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.portfolio {
  background-color: $yellow-crayola;
}

.outline {
  -webkit-text-stroke: 2px $onyx;
  color: transparent;
}

@media (max-width: 710px) {
  .hero_illustration {
    display: none;
  }
}
