@import 'def_color.scss';

.hero_inner {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.hero_content {
  flex-grow: 2;
  padding-left: 5px;
}

.greeting {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4em;
  transform: rotate(-5deg);
  transform-origin: bottom left;
}

.hero_heading {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
  font-size: 3em;
  margin-top: 0.1em;
  position: relative;
}

// animating the logo
.hero_logo {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw 0.5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 710px) {
  .hero_illustration {
    display: none;
  }
}

// creating the glitchy animation.
// spawning two pseudo elements in different colors below the actual element
// on hover these two elements are translating around the actual element
.glitchy {
  -webkit-text-stroke: 2px $onyx;
  position: relative;
  color: $sea-green-crayola;
  text-decoration: none;
  transform: translate(-50%, -50%);
  margin: 0;
  display: inline-block;
  top: 1.8rem;
  left: 8.6rem;
  cursor: pointer;

  &:before,
  &:after {
    -webkit-text-stroke: 0px $onyx;
    display: block;
    content: attr(data);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:after {
    color: $fire-opal;
    z-index: -2;
  }
  &:before {
    color: $capri;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitchy-animation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both 10;
    }
    &:after {
      animation: glitchy-animation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        reverse both 10;
    }
  }
}

@keyframes glitchy-animation {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}
