@import 'def_color.scss';

.portfolio {
  background-color: $yellow-crayola;
}

.portfolio_wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (8 - 1) * ((100vw - 5em) / (50 - 5)));
  padding-right: calc(1rem + (8 - 1) * ((100vw - 5rem) / (50 - 5)));
}

.portfolio_cards {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
  border: 2px solid $onyx;
  border-radius: 15px;
  margin: 2em;
  max-width: 500px;
  min-width: 200px;
  background-color: $cultured;
}

.card_image {
  height: auto;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card_body {
  padding: 0 1rem 1rem;
}

.card_text {
  margin-bottom: 1em;
}

.card_button {
  color: $french-violet;
  border: 1px solid $french-violet;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    background-color: $french-violet;
    color: $cultured;
  }
}
