@import 'def_color.scss';

.switch_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4vw;
  padding-top: 6px;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 42px;
  margin: 5px;
}

// hide actual input
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// outside
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $capri;
  border: solid 4px darken($capri, 10);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

input:checked + .slider {
  border: solid 4px darken($onyx, 10);
  background-color: $onyx;
}

// thing that moves
.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: $yellow-crayola;
  border: 2px solid darken($yellow-crayola, 30);
  transition: 0.4s;
  border-radius: 50%;
  animation: going-light 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) normal;
}

input:checked + .slider:before {
  background-color: white;
  border: 2px solid white;
  animation: going-dark 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) forwards;
  transition: all 0.4s;
}

@keyframes going-dark {
  to {
    transform: translateX(28px) rotate(180deg);
    mask-image: radial-gradient(
      circle 16px at calc(100% - 4px) calc(100% - 4px),
      transparent 16px,
      #000 0
    );
    -webkit-mask-image: radial-gradient(
      circle 16px at calc(100% - 4px) calc(100% - 4px),
      transparent 16px,
      #000 0
    );
  }
}

@keyframes going-light {
  0% {
    transform: translateX(28px) rotate(180deg);
    mask-image: radial-gradient(
      circle 5px at calc(100% - 4px) calc(100% - 4px),
      transparent 16px,
      #000 0
    );
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    mask-image: radial-gradient(
      circle 5px at calc(100% - 4px) calc(100% - 4px),
      transparent 0px,
      #000 0
    );
  }
}

.switch_label_dark {
  color: var(--color-label-dark);
}
.switch_label_light {
  color: var(--color-label-light);
}
