@import 'def_color.scss';

.switch_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4vw;
  padding-top: 6px;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 42px;
  margin: 5px;
}

// hide actual input
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// outside
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $capri;
  border: solid 4px darken($capri, 10);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

input:checked + .slider {
  border: solid 4px darken($onyx, 10);
  background-color: $onyx;
}

// thing that moves
.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: $yellow-crayola;
  border: 2px solid darken($yellow-crayola, 30);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  -webkit-animation: going-light 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) normal;
  animation: going-light 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) normal;
}

input:checked + .slider:before {
  background-color: white;
  border: 2px solid darken(white, 30);
  -webkit-animation: going-dark 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) forwards;
  animation: going-dark 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) forwards;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@keyframes going-dark {
  to {
    transform: translateX(28px) rotate(180deg);
    mask-image: radial-gradient(
      circle 16px at 85% 85%,
      transparent 16px,
      #000 0
    );
    -webkit-transform: translateX(28px) rotate(180deg);
    -webkit-mask-image: radial-gradient(
      circle 16px at 85% 85%,
      transparent 16px,
      #000 0
    );
    // safari detection, as safari cannot handle #000 0 as a none mask
    @media not all and (min-resolution: 0.001dpcm) {
      -webkit-transform: translateX(28px) rotate(180deg);
      -webkit-mask-image: radial-gradient(
        circle 16px at 85% 85%,
        transparent 16px,
        #000 1
      );
    }
  }
}

@keyframes going-light {
  0% {
    -webkit-transform: translateX(28px) rotate(180deg);
    transform: translateX(28px) rotate(180deg);
    mask-image: radial-gradient(
      circle 16px at 85% 85%,
      transparent 16px,
      #000 0
    );
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
    mask-image: radial-gradient(
      circle 16px at 85% 85%,
      transparent 00px,
      #000 0
    );
  }
}

.switch_label_dark {
  color: var(--color-label-dark);
}
.switch_label_light {
  color: var(--color-label-light);
}
