{{ $style := resources.Get "css/main.scss"}}
<!-- convert minify and do cachbusting on style -->
{{ $style = $style | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bricolage+Grotesque:wght@500;700;800&family=Space+Mono:wght@400;700&display=swap"
  rel="stylesheet"
/>
