{{ $js := resources.Get "js/themeswitch.js"}} {{ $js := $js | minify |
fingerprint }}
<div class="menu_wrapper">
  {{ range . }}
  <div class="menu_item">{{ .text }}</div>
  {{ end }}
  <div class="switch_wrapper">
    <p class="switch_label_light">Light</p>
    <label class="switch">
      <input type="checkbox" name="theme_switch" />
      <span class="slider"></span>
    </label>
    <p class="switch_label_dark">Dark</p>
  </div>
</div>
<script
  defer
  language="javascript"
  type="text/javascript"
  src="{{ $js.Permalink }}"
></script>
