<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is the personal website of wagner dominik."
    />
    <!-- Only add CSP if we are in production, otherwise resources will not get loaded -->
    {{- if not (in (string .Site.BaseURL) "localhost") -}}
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src https://*; img-src https://*; style-src-elem 'https://*'; child-src 'none';"
    />
    {{- end -}}
    <!-- Load the styling from another partial site -->
    {{ partial "site-style.html" . }}

    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  </head>
  <body>
    {{block "header" . }}
    <!-- -->
    {{ partial "site-header.html" .}}
    <main id="main-content" class="main-content">
      <!-- Insert the hero section -->
      {{ partial "site-hero.html"}}
      <!-- Insert the portfolio section, add static data from protfolio.json to further handle it by the partial site -->
      {{ partial "site-portfolio.html" .Site.Data.portfolio }}
      <!-- Insert the contact section -->
      {{ partial "site-contact.html" }}
      <!-- -->
    </main>
    {{ end }} {{ block "footer" . }}
    <!-- -->
    {{ partial "site-footer.html"}}
    <!-- -->
    {{ end }}
    <!-- -->
  </body>
</html>
