body {
  background-color: #1E4658 !important;
  color: #8cbeb2;
  font-weight: 600;
}
html {
  font-size: 14px;
}
nav {
  background-color: #8cbeb2 !important;
}
.logo {
  max-height: 150px;
}
.hr {
  border-top: 3px solid #183745 !important;
}
.hr.sm {
  border-top: 2px solid #8cbeb2 !important;
  width: 30%;
  margin: 0 auto;
}
h1 {
  margin-top: -220px;
  font-weight: bold;
  text-shadow: -1px 0 #bddad3, 0 1px #bddad3, 1px 0 #bddad3, 0 -1px #bddad3;
}
@media (max-width: 570px) {
  h1 {
    margin-top: -130px;
    font-size: 4em !important;
  }
}
.photo {
  max-height: 500px;
  margin-top: -100px;
  z-index: -1;
  border-radius: 50%;
}
@media (max-width: 570px) {
  .photo {
    max-height: 300px;
    margin-top: -50px;
  }
}
.invisible-button {
  border: none;
  box-shadow: none;
  background: #1E4658;
  color: #8cbeb2;
}
.btn-outline-success {
  color: #8cbeb2;
  border-color: #8cbeb2;
}
.btn-outline-success:hover {
  color: #5c4b51;
  background-color: #8cbeb2;
  border-color: #8cbeb2;
}
.btn-outline-success:active {
  color: #5c4b51 !important;
  border-color: #7cb5a7 !important;
  background-color: #7cb5a7 !important;
  -moz-box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
  -webkit-box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
  box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
}
.btn-outline-success:focus {
  -moz-box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
  -webkit-box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
  box-shadow: 0px 0px 0px 1px #8cbeb2 !important;
}
h4 {
  text-align: center;
}
.margin-bottom-row {
  margin-bottom: 1.5em;
}
.footer {
  background-color: #8cbeb2;
  color: #183745;
}
.social-icon {
  color: #1E4658;
}
.social-icon:hover {
  color: #183745;
}
.text {
  text-align: justify;
}
