@brnd-light: #f2ebbf;
@brnd-lighter: lighten(@brnd-light, 5%);
@brnd-green: #8cbeb2;
@brnd-orng: #f3b562;
@brnd-red: #f06060;
@brnd-dark: #5c4b51;

body {
    background-color: @brnd-lighter !important;
    color: @brnd-green;
    font-weight: 600;
}

nav {
    background-color: @brnd-green !important;
}